body {
    font-family: Roboto, sans-serif;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

a {
    color: #e5e7eb;
    text-decoration: none;
    font-size: 18px;
    padding-left: 20px;
}

/* attributes shared across sections */
.cta,
.sign-up-button-hero,
.sign-up-button-cta {
    background-color: #3882f6;
    color: white;
    border-width: 1px;
    border-radius: 5px;
    border-style: solid;
    border-color: #3882f6;
    padding: 5px 25px;
}

/* section 1 */
.section1 {
    color: white;
    background-color: #1f2937;
    padding: 10px 100px 100px 100px;
}

.nav-section {
    display: flex;
    margin-bottom: 100px;
}

.header-logo {
    color: #f9faf8;
    font-size: 24px;
    margin-right: auto;
}

.hero-section {
    display: flex;
}

.hero-text-main {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
}

.hero-text-secondary {
    color: #e5e7eb;
    text-decoration: none;
    font-size: 18px;
}

.hero-image {
    background-color: #666;
    width: 800px;
    height: 150px;
    border-color: #e5e7eb;
    border-width: 1px;
    border-radius: 2px;
    margin-left: 20px;
}

.sign-up-button-hero {
    margin-top: 10px;
}


/* section 2 */
.section2 {
    margin-bottom: 100px;
}

.info-text {
    color: #1f2937;
    font-weight: 900;
    font-size: 36px;
    text-align: center;
    margin: 40px 0px;
}

.info-images {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.info-image-container {
    max-width: 160px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.info-image {
    width: 160px;
    height: 160px;
    border-style: solid;
    border-color:#3882f6;
    border-width: 5px;
    border-radius: 10px;
    flex-shrink: 0;
}

.info-image-text {
    text-align: center;
}



/* section 3 */
.section3 {
    background-color: #e5e7eb;
}

.thor-quote {
    font-size: 36px;
    font-weight: 100;
    font-style: oblique;
    padding: 100px 200px 0;
    text-align: left;
}

.thor-sig {
    font-size: 20px;
    font-weight: 900;
    padding: 0 200px 100px;
    text-align: right;
}


/* section 4 */

.cta {
    width: 680px;
    margin: 75px 100px;
    padding: 50px 100px;
    display: flex;
}

.cta-text {
    flex: 1;
}

.cta-button {
    align-self: center;
}

.cta-text1 {
    font-weight: 900;
}

.cta-text2 {
    font-size: 14px;
    font-weight: 100;
    color: #e5e7eb;
}

.sign-up-button-cta {
    border-color: white;
    font-weight: 900;
}


/* footer */
.footer {
    color: #e5e7eb;
    background-color: #1f2937;
    text-align: center;
    padding: 50px 0;
}